# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Build directories
out/
build/
target/
bin/

# Maven
log/
logs/
*.log
*.class
*.jar
*.war
*.ear

# Gradle
.gradle/
build/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/

# OS-specific
.DS_Store
Thumbs.db
